@charset "ISO-8859-1";

body{
	background-image: url('http://bit.ly/pokemonbg');
  	background-size: 100%;
 	background-repeat: no-repeat;
}
.display {
	margin: auto;
	width: 40%;
	padding: 10px;
	border: 5px solid #FFFF00;
}

.user_options {
	margin: auto;
	width: 40%;
	padding: 10px;
	border: 5px solid #33bbff;
	background-color: #333;
}

.explanation_box {
	margin: auto;
	width: 40%;
	padding: 10px;
	border: 5px solid rgb(128, 128, 128);
	background-color: rgb(192, 192, 192);
}