<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>projekt.daten.IndexServlet</servlet-class>
  </servlet>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUserSession</display-name>
    <servlet-name>ServletUserSession</servlet-name>
    <servlet-class>userManagement.ServletUserSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserSession</servlet-name>
    <url-pattern>/ServletUserSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUserLogin</display-name>
    <servlet-name>ServletUserLogin</servlet-name>
    <servlet-class>userManagement.ServletUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUserLogin</servlet-name>
    <url-pattern>/ServletUserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPokemonEdit</display-name>
    <servlet-name>ServletPokemonEdit</servlet-name>
    <servlet-class>pokemon.ServletPokemonEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPokemonEdit</servlet-name>
    <url-pattern>/ServletPokemonEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAgentLauncher</display-name>
    <servlet-name>ServletAgentLauncher</servlet-name>
    <servlet-class>agents.ServletAgentLauncher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAgentLauncher</servlet-name>
    <url-pattern>/ServletAgentLauncher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletQuickList</display-name>
    <servlet-name>ServletQuickList</servlet-name>
    <servlet-class>pokemon.ServletQuickList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletQuickList</servlet-name>
    <url-pattern>/ServletQuickList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAgentListener</display-name>
    <servlet-name>ServletAgentListener</servlet-name>
    <servlet-class>agents.ServletAgentListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAgentListener</servlet-name>
    <url-pattern>/ServletAgentListener</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ServletCreateTeam</display-name>
    <servlet-name>ServletCreateTeam</servlet-name>
    <servlet-class>cbr_Pokemonteam.ServletCreateTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreateTeam</servlet-name>
    <url-pattern>/ServletCreateTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPokemonFight</display-name>
    <servlet-name>ServletPokemonFight</servlet-name>
    <servlet-class>pokemon.ServletPokemonFight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPokemonFight</servlet-name>
    <url-pattern>/ServletPokemonFight</url-pattern>
  </servlet-mapping>
</web-app>